@model TesterLab.Domain.Models.Feature

@{
    ViewData["Title"] = "Supprimer une fonctionnalité";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="alert alert-danger">
    Êtes-vous sûr de vouloir supprimer la fonctionnalité <strong>@Model.Name</strong> ?
</div>

<form method="post" action="@Url.Action("Delete","Features", new { id = Model.Id })">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />

    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a href="@Url.Action("Index","Features")" class="btn btn-secondary">Annuler</a>
</form>
