@* @model IEnumerable<TesterLab.Domain.Models.Application> *@
@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    // var apps = ViewBag.Applications!= null ? (List<TesterLab.Domain.Models.Application>)ViewBag.Applications: new List<TesterLab.Domain.Models.Application>();
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <li class='menu-item@(currentPage.StartsWith("/FrontPages") ? " active open" : "")'>
            <span class="menu-link" style="margin-left:-10px;margin-right:-10px;">
                @* <i class="menu-icon tf-icons bx bx-home-smile"></i> *@
                <select class="form-select" id="selected-app">
                    <option value="">-- Choisir une application --</option>
                 @*    @foreach (var app in apps)
                    {
                        <option value="@app.Id">@app.Name</option>
                    } *@
                </select>
            </span>
        </li>
        
        <!-- Components -->
        <li class='menu-item@(currentPage == "/Applications/Index" ? " active" : "")'>
            <a asp-controller="Applications" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Applications">Applications</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Features/Index" ? " active" : "")'>
            <a asp-controller="Features" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Applications">Fonctionnalités</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/TestCases/Index" ? " active" : "")'>
            <a asp-controller="TestCases" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Applications">Scénarios de test</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/TestData/Index" ? " active" : "")'>
            <a asp-controller="TestData" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Applications">Données de test</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Environments/Index" ? " active" : "")'>
            <a asp-controller="Environments" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Applications">Environements</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/TestRuns/Index" ? " active" : "")'>
            <a asp-controller="TestRuns" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Applications">Exécutions</div>
            </a>
        </li>

    </ul>

</aside>
<!-- / Menu -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetApplications", "Applications")',
            type: 'GET',
            success: function (data) {
                var $select = $("#selected-app");
                $select.empty(); // on vide d'abord

                $select.append('<option value="">-- Choisir une application --</option>');

                $.each(data, function (i, app) {

                    var selectedAttr = app.selected ? " selected" : "";
                    $select.append('<option value="' + app.id + '"' + selectedAttr + '>' + app.name + '</option>');
                });
            },
            error: function () {
                //alert("Impossible de charger la liste des applications !");
            }
        });

        $("#selected-app").change(function () {
            var appId = $(this).val();

            if (appId) {
                $.ajax({
                    url: '@Url.Action("SelectApplication", "Applications")', // ton action
                    type: 'GET',
                    data: { id: appId },
                    success: function (data) {
                        // Exemple: afficher dans un div
                        // $("#result").html(
                        //     "<p><strong>Nom:</strong> " + data.name + "</p>" +
                        //     "<p><strong>Description:</strong> " + data.description + "</p>" +
                        //     "<p><strong>URL:</strong> " + data.mainUrl + "</p>"
                        // );
                    },
                    error: function () {
                        //alert("Erreur lors de la récupération des données !");
                    }
                });
            } else {
                $("#result").empty();
            }
        });
    });
</script>

